html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size:  36px;
    margin: 0;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 60px;
    color: teal;
    font-weight: 500;
    margin: 60px;
}

span {
    font-size: 18px;
    text-align: center;
    color: green;
}

footer {
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    min-height: 110px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 4rem;
    top: 0;
    background-color: #DACABA;;
}

#welcome-section {
    height: 100vh;
    background-color: #DACABA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact {
    height: 80vh;
    background-color: #DACABA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-paragraph {
    margin-top: 0px;
}

#created-for-link {
    color: white;
    text-decoration: underline;
}

#show-all-button {
   
}

.row-circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.circle {
    border: solid green 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #DACABA;
    color: teal;
    margin: 10px;
}

.circle:hover {
    background-color: darkgray;
}

a.nav-link {
    color: #FFF;
    font-size: 20px; 
    margin-right: 100px;
}

.project-tile {
    width: 280px;
    border: solid lightseagreen 2px;
    margin-bottom: 90px;
}

.project-tile-image {
    width: 280px;
    height: 160px;
}

.project-tile-text {
    border-top: solid lightseagreen 1px;
    text-align: center;
    color: teal;
}

.sticky {
    position: sticky;
    z-index: 10;
}

.footer-paragraph {
    margin: 15px;
    line-height: 30px;
    text-align: center;
}

@media only screen and (max-width: 600px){
    #navbar {
        justify-content: space-evenly;
    }
    a.nav-link {
        margin-right: 0;
    }
    #contact {
        height: auto;
        padding-top: 50px;
        padding-bottom: 15px;
    }
} 

